#player2{
  text-align: right;
}
#player2score{
  text-align: right;
}
.on {
  background-color: white;
  height:60px;
}
.off {
  background-color: rgb(102, 102, 153);
  border-radius: 0px;
  height:60px;
}
.player {
  height:60px;
  font-family: Peddana;
  font-size: 50px;
}
.trap {
  min-height: 100%;
  border-style: solid;
  border-color: white;
}
.score{
  height:30px;
  font-size: 40px;
}
